.gitignore linguist-vendored
LICENSE linguist-vendored
README.md linguist-vendored
catch.hpp linguist-vendored
json.hpp linguist-vendored
termcolor.hpp linguist-vendored
CITATION.cff linguist-vendored

* text=auto eol=crlf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf