name: Ubuntu
on: [push]
jobs:
  Ubuntu:
    name: build-ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # explicit include-based build matrix, of known valid options
      matrix:
        include:
          # 20.04 supports CUDA 11.0+
          - os: ubuntu-20.04
            cuda: "11.3"
            gcc: 10
    steps:
      - name: Installing dependencies (Ubuntu)
        run: sudo apt-get -y install openmpi-bin openmpi-common libopenmpi-dev ninja-build
      - name: Checkout
        uses: actions/checkout@v2
      - name: Creating dependencies directory (Ubuntu)
        shell: bash
        run: mkdir packages

      - name: Creating cuda directory (Ubuntu)
        shell: bash
        run: mkdir cuda
        working-directory: ${{ github.workspace }}/packages
      - name: Downloading cuda pin (Ubuntu)
        shell: bash
        run: wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/cuda-ubuntu2004.pin
        working-directory: ${{ github.workspace }}/packages/cuda
      - name: Moving cuda pin (Ubuntu)
        shell: bash
        run: sudo mv cuda-ubuntu2004.pin /etc/apt/preferences.d/cuda-repository-pin-600
        working-directory: ${{ github.workspace }}/packages/cuda
      - name: Adding cuda key (Ubuntu)
        shell: bash
        run: sudo apt-key adv --fetch-keys https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/7fa2af80.pub
      - name: Adding cuda repository (Ubuntu)
        shell: bash
        run: sudo add-apt-repository "deb https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/ /"
      - name: Apt update (Ubuntu)
        shell: bash
        run: sudo apt-get update
      - name: Installing cuda (Ubuntu)
        shell: bash
        run: sudo apt-get -y install cuda-11-3
      - name: Searching cuda (Ubuntu)
        shell: bash
        run: find / -name nvcc 

        

      - name: Creating build directory (Ubuntu)
        run: mkdir build
      - name: Running CMake (Ubuntu)
        run: cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DCMAKE_CUDA_COMPILER="/usr/local/cuda-11.3/bin/nvcc"
        working-directory: ${{ github.workspace }}/build
      - name: Build (Ubuntu)
        run: cmake --build .
        working-directory: ${{ github.workspace }}/build
      - name: Tests (Ubuntu)
        run: ctest
        working-directory: ${{ github.workspace }}/build